.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
  }

  .logo {

  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  a {
    position: relative;
  }
  .options .option::before {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.2s;
  }
  .options .option:hover:before {
    width: 100%;
    left: 0;
  }
}